* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --mainColor1: #06a6f0;
  --mainColor2: #eb750e;
  --mainColor3: #888888;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: grid;
  place-items: center;
}

#titleImage {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

header h1 {
  font-size: 90px;
  position: absolute;
  color: white;
  animation: titleFade 1s;
}

@keyframes titleFade {
  from {
    translate: -100%;
    opacity: .2;
  }

  to {
    translate: 0%;
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  padding-block: 15px;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: var(--mainColor1);
}

@media screen and (max-width: 400px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav a {
    font-size: 30px;
  }
}

section {
  padding: 10px;
  position: relative;
}

section:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 10px;
  position: relative;
}

section:first-of-type h2 {
  color: rgba(0, 0, 0, 0);
  position: absolute;
}

section:nth-of-type(2) h2 {
  color: var(--mainColor2);
  font-size: 30px;
  text-align: center;
}

article {
  aspect-ratio: 2 / 1;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  position: relative;
}

article img {
  aspect-ratio: 1;
  height: 100%;
  object-fit: cover;
}

article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-y: scroll;
}

article h3 {
  color: var(--mainColor2);
  font-size: 30px;
}

article p {
  margin-top: 15px;
  padding-bottom: 40px;
}

article a {
  text-decoration: none;
  color: var(--mainColor1);
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--mainColor2);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  section:first-of-type {
    grid-template-columns: repeat(1, 1fr);
  }

  article {
    flex-direction: column;
    aspect-ratio: 1 / 2;
  }

  article img {
    width: 100%;
    height: auto;
  }
}

#aboutMe>div {
  display: flex;
}

#aboutMe h3 {
  margin-block: 35px 15px;
  font-size: 24px;
  color: var(--mainColor1);
}

#aboutMe p {
  margin: 8px;
}

#aboutMe img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 30%;
  margin: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  #aboutMe>div {
    flex-direction: column;
    align-items: center;
  }

  #aboutMe img {
    width: 80%;
  }

  #aboutMe h3 {
    text-align: center;
    margin-block: 10px;
  }
}

#article p {
  margin: 10px 20px;
}

#article p:first-of-type {
  margin-top: 30px;
}

#imageGalerie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 16/9;
  width: calc(100vw - 100px);
  margin: 50px;
  overflow: hidden;
  border-radius: 15px;
}

#imageGalerie img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#imageGalerie div {
  display: grid;
  height: 100%;
}

#imageGalerie div:first-of-type {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 450px) {
  #imageGalerie {
    grid-template-columns: 1fr;
    aspect-ratio: auto;
    width: calc(100vw - 20px);
    margin: 10px;
  }

  #imageGalerie div:first-of-type {
    grid-template-columns: 1fr;
  }
}

#login {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #DDDDDD;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login input {
  width: 250px;
  height: 30px;
  border: 0;
  outline: 0;
  padding: 10px;
}

#login :is(h1, p) {
  margin-block: 30px;
}

#login p {
  color: red;
}

#login input:first-of-type {
  border-bottom: 1px solid #AAAAAA;
  border-radius: 10px 10px 0 0;
}

#login input[type="submit"] {
  width: 270px;
  height: 50px;
  background-color: #AAAAAA;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

#login input[type="submit"]:hover {
  background-color: #888888;
}

#dashboardTitle {
  margin: 15px;
}

#postList {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ddd;
}

#postList div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#postList div:nth-of-type(2n) {
  background-color: #eee;
}

#postList div span {
  width: 30%;
}

.comment {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background: rgba(210, 210, 210, 0.6);
}

.comment a {
  margin: 5px;
}

.comment p {
  margin-block: 10px;
}

#comments h2 {
  margin-bottom: 10px;
}

#logintracker {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 15px;
}

#logintracker a {
  text-decoration: none;
  color: black;
}

#comments input {
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 5px;
}

.commentForm input[type="text"] {
  width: calc(100% - 95px);
}

.commentForm input[type="submit"] {
  cursor: pointer;
  width: 50px;
}

.commentForm input[type="submit"]:hover {
  background-color: #ddd;
}